$american-red: #b22234;
$american-blue: #3c3b6e;

$theme-colors: (
  "american-red": $american-red,
  "american-blue": $american-blue
);
$body-bg: $american-red;

@import "~bootstrap/scss/bootstrap.scss";

#root {
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
}

.flag-border {
  border: 5px solid $american-blue;
}

.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: 2 * $spacer;
  }
}
